<a href="https://colab.research.google.com/github/AsifBrohi/Examples_Learning_python/blob/master/how_to_make_Df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [10]:
dates = pd.date_range("20180101",periods=122)
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2018-04-23', '2018-04-24', '2018-04-25', '2018-04-26',
               '2018-04-27', '2018-04-28', '2018-04-29', '2018-04-30',
               '2018-05-01', '2018-05-02'],
              dtype='datetime64[ns]', length=122, freq='D')

In [11]:
df=pd.DataFrame(np.random.rand(122,1), index=dates, columns=list('A'))
df

                   A
2018-01-01  0.133300
2018-01-02  0.406163
2018-01-03  0.722920
2018-01-04  0.357419
2018-01-05  0.977720
...              ...
2018-04-28  0.179338
2018-04-29  0.843420
2018-04-30  0.098415
2018-05-01  0.736411
2018-05-02  0.123222

[122 rows x 1 columns]